@page
@model WebApplication.Pages.Game.StartGameCustomModel

@{
    ViewData["Title"] = "Start A New Game";
}

<h1>Play a new Game</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Options.SaveName" class="control-label"></label>
                <input asp-for="Options.SaveName" class="form-control" />
                <span asp-validation-for="Options.SaveName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Options.BoardHeight" class="control-label"></label>
                <input asp-for="Options.BoardHeight" class="form-control" />
                <span asp-validation-for="Options.BoardHeight" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Options.BoardWidth" class="control-label"></label>
                <input asp-for="Options.BoardWidth" class="form-control" />
                <span asp-validation-for="Options.BoardWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Options.NumberOfMines" class="control-label"></label>
                <input asp-for="Options.NumberOfMines" class="form-control" />
                <span asp-validation-for="Options.NumberOfMines" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Start" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
